header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #0078d4;
    color: #fff;
    padding: 10px;
  }
  
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
  
nav li {
    margin: 0 10px;
}
  
nav a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width:60%;
    background-color: #fff;
}
.frame {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 50px;
}
.frame img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}
.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    text-align: justify;
    margin-right: 25px
}
.description h1 {
    font-size: 36px;
    margin: 0;
    margin-bottom: 20px;
}
.description p {
    font-size: 14px;
    margin: 0;
    margin-bottom: 20px;
    color: black;
}
.description button {
    background-color: #0078d4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.description button:hover {
    background-color: #005a9e;
}
.description a{
    color: #fff;
    text-decoration: none;
}